<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
	<title>SaintMedic</title>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="format-detection" content="telephone=no">
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="author" content="">
	<meta name="keywords" content="">
	<meta name="description" content="">
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.css">
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
	<link rel="stylesheet" type="text/css" href="/Food/vendor.css">
	<link rel="stylesheet" type="text/css" href="/Food/normalize.css">
	<link rel="stylesheet" type="text/css" href="/Food/style.css">
	<link rel="stylesheet" type="text/css" href="/style.css">
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Nunito:wght@400;700&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap" rel="stylesheet">
	<link rel="stylesheet" href="/assets_pacient/css/dataTables.bootstrap4.min.css">
	<link rel="stylesheet" href="/assets_pacient/plugins/select2/css/select2.min.css">
	<link rel="stylesheet" href="/assets_pacient/plugins/fontawesome/css/fontawesome.min.css">
	<link rel="stylesheet" href="/assets_pacient/plugins/fontawesome/css/all.min.css">
	<link rel="stylesheet" href="/assets_pacient/plugins/select2/css/select2.min.css">
	<link rel="icon" href="/assets_pacient/img/PastillaSinFondo.png" >
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js" charset="UTF-8"></script>

	<!-- Favicon -->

	<!-- Bootstrap CSS -->
	<link rel="stylesheet" href="assets_pacient/css/bootstrap.min.css">
	<link rel="shortcut icon" type="image/x-icon" href="../assets_pacient/img/PastillaSinFondo.png">

	<!-- animation CSS -->
	<link rel="stylesheet" href="/assets_superAdmin/css/animate.css">

	<!-- Datatable CSS -->
	<link rel="stylesheet" href="/assets_superAdmin/css/dataTables.bootstrap4.min.css">

	<!-- Fontawesome CSS -->
	<link rel="stylesheet" href="/assets_superAdmin/plugins/fontawesome/css/fontawesome.min.css">
	<link rel="stylesheet" href="/assets_superAdmin/plugins/fontawesome/css/all.min.css">

	<!-- Main CSS -->
	<link rel="stylesheet" href="/assets_superAdmin/css/style.css">

	<link rel="stylesheet" href="/assets_superAdmin/css/bootstrap-datetimepicker.min.css">


	<style>
		.form-check-input {

			border-width: 2px; /* Aumenta el grosor del borde */
			border-color: black; /* Cambia el color del borde */
		}



	</style>

</head>

	<!--style="background-image: url('/assets_pacient/images/background-pattern.jpg');background-repeat: no-repeat;background-size: cover;"-->
<body>

<div id="global-loader" >
	<div class="whirly-loader"> </div>
</div>

	<div class="main-wrapper">
		<!-- Header -->
		<div th:replace="navbarPacienteNuevo"></div>
		<!-- Header -->
		<!-- Sidebar -->
		<div th:replace="sidebarPatient :: sidebarPatient(activeTab = 'historial')"> </div>

		<div class="page-wrapper pagehead">
			<div class="content py-3" >

				<div class="row mx-3 mt-2">
					<div class="col-lg-3 col-sm-6 col-12">
						<div class="dash-widget">
							<div class="dash-widgetimg">
								<span><img src="/assets_superAdmin/img/icons/dash1.svg" alt="img"></span>
							</div>
							<div class="dash-widgetcontent">
								<h5 th:text="${'S/.'+purchaseDTO.getTotal_price()}" ></h5>
								<h6>Total a Pagar</h6>
							</div>
						</div>
					</div>

				</div>
				<!-- Button trigger modal -->

				<div class="row mx-3">
					<div class="col-lg-7 col-sm-12 col-12 d-flex">
						<div class="card">
							<div class="card-header">
								<h5 class="card-title">Generar orden de compra</h5>
								<p class="card-text">Utilizará la tarjeta de pago marcada como favorita, pero puede pagar con otra tarjeta sin guardarla.</p>
							</div>
							<div class="card-body">
								<form method="post" th:action="@{/patient/pagarFinal}">
									<input type="hidden" name="idPurchase" th:value="${idPurchase}">

									<h5 class="card-title">Tarjeta Favorita</h5>

									<div class="card-body">

										<div class="table-responsive">

											<table class="table mb-0">
												<thead>
													<tr>
														<th>Número de Tarjeta</th>
														<th>Tipo</th>
													</tr>
												</thead>
												<tbody>
													<tr>
														<td th:if="${tarjetaElejida == null}" > No hay tarjeta </td>
														<td th:if="${tarjetaElejida != null}" th:text="|${tarjetaElejida.getHideNumber()}|">  </td>
														<td th:if="${tarjetaElejida != null}" th:text="${tarjetaElejida.getBank()}"></td>
													</tr>
												</tbody>
											</table>
										</div>
									</div>


								<h5 class="card-title mt-3">Usar otra tarjeta</h5>
								<div class="form-row row mx-1">
									<div class="col-md-6 mb-3">
										<label class="mb-2" for="validationServer01">Nueva Tarjeta</label>
										<input type="text" name="nuevaTarjetaNum" class="form-control" id="validationServer01" placeholder="**** **** **** ****">

									</div>
								</div>

								<h5 class="card-title">Credenciales</h5>

									<div th:if="${msg != null}" th:text="${msg}" class="alert alert-danger" role="alert"></div>

									<div class="form-row row mx-1">

									<div class="col-md-4 mb-3">
										<input type="text" name="cvv" class="form-control" id="validationServer02" placeholder="CVV" required>

									</div>

									<div class="col-md-4 mb-3">
										<input type="text" name="fechaV" class="form-control"  id="expireDate" style="width: auto" placeholder="MM/YY" required pattern="(0[1-9]|1[0-2])\/[0-9]{2}">
										<div class="invalid-feedback">Formato inválido. Use MM/YY</div>
									</div>

										<div class="form-check mt-3 mb-3">
											<input class="form-check-input" type="checkbox" name="recurrent" value="true" id="flexCheckDefault">
											<label  style="font-weight: bold" for="flexCheckDefault">
												¿Desea hacerla recurrente?
											</label>
										</div>

								</div>


								<button class="btn btn-primary mt-2" type="submit">Aceptar</button>

								</form>
							</div>
						</div>
					</div>
					<div class="col-lg-5 col-sm-12 col-12 d-flex">
						<div class="card flex-fill">
							<div class="card-header pb-0 d-flex justify-content-between align-items-center">
								<h4 class="card-title mb-0">Carrito</h4>

							</div>
							<div class="card-body">
								<div class="table-responsive dataview">
									<table class="table datatable ">
										<thead>
											<tr>
												<th>Productos</th>
												<th>Cantidad</th>
												<th>Total</th>
											</tr>
										</thead>
										<tbody>
											<tr th:each="medicamento : ${listaMedicamentosCompra}">
												<td class="productimgname" th:text="${medicamento.getMedicineName()}">
													<!--
													<a href="#" class="product-img">
														<img src="assets_superAdmin/images/aspirina.jpeg" alt="product">
													</a>-->

												</td>
												<td th:text="${medicamento.getCantidad()}"></td>
												<td th:text="${medicamento.getPrecio()}"></td>
											</tr>

										</tbody>
									</table>
								</div>
							</div>
						</div>
					</div>
				</div>

			</div>

		</div>
	</div>


<!-- /Main Wrapper -->
	<script>
		document.getElementById("expireDate").addEventListener("input", function(event) {
			const pattern = /^(0[1-9]|1[0-2])\/[0-9]{2}$/;
			const value = event.target.value;
			if (!pattern.test(value)) {
				event.target.setCustomValidity("Formato inválido. Use MM/YY");
			} else {
				event.target.setCustomValidity("");
			}
		});
	</script>
	<script src="/assets_superAdmin/js/jquery-3.6.0.min.js"></script>

	<!--Feather Icon JS-->
	<script src="/assets_superAdmin/js/feather.min.js"></script>

	<!--Slimscroll JS-->
	<script src="/assets_superAdmin/js/jquery.slimscroll.min.js"></script>

	<!-- Datatable JS-->
	<script src="/assets_superAdmin/js/jquery.dataTables.min.js"></script>
	<script src="/assets_superAdmin/js/dataTables.bootstrap4.min.js"></script>

	<!--Bootstrap Core JS-->
	<script src="/assets_superAdmin/js/bootstrap.bundle.min.js"></script>-->

	<!--Select2 JS-->
	<script src="/assets_superAdmin/plugins/select2/js/select2.min.js"></script>

	<!-- Sweetalert 2-->
	<script src="/assets_superAdmin/plugins/sweetalert/sweetalert2.all.min.js"></script>
	<script src="/assets_superAdmin/plugins/sweetalert/sweetalerts.min.js"></script>

	<!-- Custom JS-->
	<script src="/assets_superAdmin/js/script.js"></script>

</body>
</html>