<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <title>SaintMedic</title>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="format-detection" content="telephone=no">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="author" content="">
  <meta name="keywords" content="">
  <meta name="description" content="">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.css">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
  <link rel="stylesheet" type="text/css" href="/Food/vendor.css">
  <link rel="stylesheet" type="text/css" href="/Food/normalize.css">
  <link rel="stylesheet" type="text/css" href="/Food/style.css">
  <link rel="stylesheet" type="text/css" href="/style.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@400;700&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="/assets_pacient/css/dataTables.bootstrap4.min.css">
  <link rel="stylesheet" href="/assets_pacient/plugins/select2/css/select2.min.css">
  <link rel="stylesheet" href="/assets_pacient/plugins/fontawesome/css/fontawesome.min.css">
  <link rel="stylesheet" href="/assets_pacient/plugins/fontawesome/css/all.min.css">
  <link rel="stylesheet" href="/assets_pacient/plugins/select2/css/select2.min.css">
  <link rel="icon" href="/assets_pacient/img/PastillaSinFondo.png" >
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js" charset="UTF-8"></script>
  <link rel="stylesheet" href="../assets_pacient/css/bootstrap.min.css">

  <!-- animation CSS -->
  <link rel="stylesheet" href="../assets_pacient/css/animate.css">

  <!-- Datatable CSS -->
  <link rel="stylesheet" href="../assets_pacient/css/dataTables.bootstrap4.min.css">

  <!-- Fontawesome CSS -->
  <link rel="stylesheet" href="../assets_pacient/plugins/fontawesome/css/fontawesome.min.css">
  <link rel="stylesheet" href="../assets_pacient/plugins/fontawesome/css/all.min.css">

  <!-- Main CSS -->
  <link rel="stylesheet" href="../assets_pacient/css/style.css">

  <link rel="stylesheet" href="../assets_pacient/css/bootstrap-datetimepicker.min.css">
  <style>

    .category-carousel {
      display: flex;
      flex-wrap: nowrap;
      overflow-x: auto;
    }

    .category-item {
      flex: 0 0 auto;
      margin-right: 20px;
    }

    .category-item img {
      display: block;
      margin: 0 auto;
    }

    .category-title {
      text-align: center;
    }


    .pagination{
      text-align: center;
      margin:30px 30px 60px;
      user-select: none;
    }

    .pagination li{
      display: inline-block;
      margin: 5px;
      box-shadow: 0 5px 25px rgb(1 1 1 / 10%);
    }

    .pagination li a{
      color: black;
      text-decoration: none;
      font-size: 1.2em;
      line-height: 45px;
    }

    .previous-page, .next-page{
      background: #f38a4e;
      width: 80px;
      border-radius: 30px;
      cursor: pointer;
      transition: 0.3s ease;
    }
    .previous-page:hover{
      transform: translateX(-5px);
    }
    .next-page:hover{
      transform: translateX(5px);
    }

    .current-page, .dots{
      background: white;
      width: 45px;
      border-radius: 40%;
      cursor: pointer;
    }
    .active{
      background:#f38a4e;
    }
    .disable{
      background: #cccccc ;
    }

    .custom-navbar .nav-item.active {
      border-radius: 15px; /* Ajusta el valor para más o menos redondeo */
      box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Sombra opcional para un efecto de elevación */
    }
    .custom-navbar .logo-img {
      width: 70px; /* Ajusta el ancho según sea necesario */
      height: auto; /* Mantiene la proporción de aspecto */
    }
    .custom-navbar .logo-small {
      margin-left: -16%; /* Ajusta el valor negativo para mover el logo a la izquierda */
    }


    .custom-dropdown-menu {
      min-width: auto; /* Permite que el menú se ajuste al contenido */
      padding: 0.5rem 1rem; /* Ajusta el relleno según sea necesario */
    }

    /* Ajuste del tamaño de los elementos dentro del dropdown */
    .custom-dropdown-menu .dropdown-item,
    .custom-dropdown-menu hr,
    .custom-dropdown-menu form {
      padding: 0.25rem 0; /* Ajusta el relleno de los elementos */
      margin: 0; /* Elimina márgenes adicionales */
    }

    /* Ajuste para el botón de formulario */
    .custom-dropdown-menu form .btn {
      padding: 0; /* Elimina relleno del botón */
    }

    .custom-dropdown-menu form .btn img {
      width: 20px; /* Ajusta el tamaño del ícono */
      height: 20px; /* Ajusta el tamaño del ícono */
    }

  </style>


</head>
<body>
  <header class="custom-navbar p-3 mb-3 border-bottom" style="background: linear-gradient(90deg,#f6c32c 25%, #ff9f43 50%);">
    <div class="container">
      <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
        <a class="logo-small" href="/patient/verSeleccionarSedePaciente">
          <img src="/assets_superAdmin/img/PastillaSinFondo.png" alt="" class="logo-img">
        </a>

        <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
          <li class="nav-item active">
            <a href="/patient/verPrincipalPaciente" style="color: white" class="nav-link px-2 link-secondary">Home</a>
          </li>
          <li ><a style="color: white" href="/patient/verGenerarOrdenCompra" class="nav-link px-2 link-secondary">Ordenar</a></li>
          <li><a href="/patient/verHistorial" style="color: white" class="nav-link px-2 link-secondary">Historial</a></li>
          <li><a href="/patient/verTracking" style="color: white" class="nav-link px-2 link-secondary">Tracking</a></li>
          <li><a href="/patient/verChatPaciente" style="color: white" class="nav-link px-2 link-secondary">Chats</a></li>
        </ul>

        <div class="dropdown text-end">
          <a href="#" class="d-block link-body-emphasis text-decoration-none dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
            <img src="https://github.com/mdo.png" alt="mdo" width="32" height="32" class="rounded-circle">
          </a>
          <ul class="dropdown-menu text-small custom-dropdown-menu">
            <li> <a class="dropdown-item" th:text="${nombre}+' '+${apellido}"></a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="/patient/verPerfilPaciente">Profile</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><form th:action="@{/logout}" method="post" class="ml-2">
              <button class="btn btn-link d-flex justify-content-center align-items-center" type="submit">
                <img type="submit" src="/assets_superAdmin/img/icons/log-out.svg" alt="Logout" width="25" height="25" >
              </button>
            </form></li>
          </ul>
        </div>
      </div>
    </div>
  </header>

  <div id="global-loader" >
  <div class="whirly-loader"> </div>
</div>




  <svg xmlns="http://www.w3.org/2000/svg" style="display: none;">
  <defs>
    <symbol xmlns="http://www.w3.org/2000/svg" id="link" viewBox="0 0 24 24">
      <path fill="currentColor" d="M12 19a1 1 0 1 0-1-1a1 1 0 0 0 1 1Zm5 0a1 1 0 1 0-1-1a1 1 0 0 0 1 1Zm0-4a1 1 0 1 0-1-1a1 1 0 0 0 1 1Zm-5 0a1 1 0 1 0-1-1a1 1 0 0 0 1 1Zm7-12h-1V2a1 1 0 0 0-2 0v1H8V2a1 1 0 0 0-2 0v1H5a3 3 0 0 0-3 3v14a3 3 0 0 0 3 3h14a3 3 0 0 0 3-3V6a3 3 0 0 0-3-3Zm1 17a1 1 0 0 1-1 1H5a1 1 0 0 1-1-1v-9h16Zm0-11H4V6a1 1 0 0 1 1-1h1v1a1 1 0 0 0 2 0V5h8v1a1 1 0 0 0 2 0V5h1a1 1 0 0 1 1 1ZM7 15a1 1 0 1 0-1-1a1 1 0 0 0 1 1Zm0 4a1 1 0 1 0-1-1a1 1 0 0 0 1 1Z"/>
    </symbol>
    <symbol  id="products" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
      <path d="M4 20H6V10C6 9.73478 6.10536 9.48043 6.29289 9.29289C6.48043 9.10536 6.73478 9 7 9H19V7C19 6.73478 18.8946 6.48043 18.7071 6.29289C18.5196 6.10536 18.2652 6 18 6H14.949C14.697 3.756 12.81 2 10.5 2C8.19 2 6.303 3.756 6.051 6H3C2.73478 6 2.48043 6.10536 2.29289 6.29289C2.10536 6.48043 2 6.73478 2 7V18C2 18.5304 2.21071 19.0391 2.58579 19.4142C2.96086 19.7893 3.46957 20 4 20ZM10.5 4C11.707 4 12.718 4.86 12.95 6H8.05C8.282 4.86 9.293 4 10.5 4Z" fill="#FF9F43"/>
      <path d="M21 11H9C8.73478 11 8.48043 11.1054 8.29289 11.2929C8.10536 11.4804 8 11.7348 8 12V20C8 20.5304 8.21071 21.0391 8.58579 21.4142C8.96086 21.7893 9.46957 22 10 22H20C20.5304 22 21.0391 21.7893 21.4142 21.4142C21.7893 21.0391 22 20.5304 22 20V12C22 11.7348 21.8946 11.4804 21.7071 11.2929C21.5196 11.1054 21.2652 11 21 11ZM15 18C12.243 18 10 15.757 10 13H12C12 14.654 13.346 16 15 16C16.654 16 18 14.654 18 13H20C20 15.757 17.757 18 15 18Z" fill="#FF9F43"/>
    </symbol>
    <symbol xmlns="http://www.w3.org/2000/svg" id="arrow-right" viewBox="0 0 24 24">
      <path fill="currentColor" d="M17.92 11.62a1 1 0 0 0-.21-.33l-5-5a1 1 0 0 0-1.42 1.42l3.3 3.29H7a1 1 0 0 0 0 2h7.59l-3.3 3.29a1 1 0 0 0 0 1.42a1 1 0 0 0 1.42 0l5-5a1 1 0 0 0 .21-.33a1 1 0 0 0 0-.76Z"/>
    </symbol>
    <symbol xmlns="http://www.w3.org/2000/svg" id="category" viewBox="0 0 24 24">
      <path fill="currentColor" d="M19 5.5h-6.28l-.32-1a3 3 0 0 0-2.84-2H5a3 3 0 0 0-3 3v13a3 3 0 0 0 3 3h14a3 3 0 0 0 3-3v-10a3 3 0 0 0-3-3Zm1 13a1 1 0 0 1-1 1H5a1 1 0 0 1-1-1v-13a1 1 0 0 1 1-1h4.56a1 1 0 0 1 .95.68l.54 1.64a1 1 0 0 0 .95.68h7a1 1 0 0 1 1 1Z"/>
    </symbol>
    <symbol xmlns="http://www.w3.org/2000/svg" id="calendar" viewBox="0 0 24 24">
      <path fill="currentColor" d="M19 4h-2V3a1 1 0 0 0-2 0v1H9V3a1 1 0 0 0-2 0v1H5a3 3 0 0 0-3 3v12a3 3 0 0 0 3 3h14a3 3 0 0 0 3-3V7a3 3 0 0 0-3-3Zm1 15a1 1 0 0 1-1 1H5a1 1 0 0 1-1-1v-7h16Zm0-9H4V7a1 1 0 0 1 1-1h2v1a1 1 0 0 0 2 0V6h6v1a1 1 0 0 0 2 0V6h2a1 1 0 0 1 1 1Z"/>
    </symbol>
    <symbol xmlns="http://www.w3.org/2000/svg" id="heart" viewBox="0 0 24 24">
      <path fill="currentColor" d="M20.16 4.61A6.27 6.27 0 0 0 12 4a6.27 6.27 0 0 0-8.16 9.48l7.45 7.45a1 1 0 0 0 1.42 0l7.45-7.45a6.27 6.27 0 0 0 0-8.87Zm-1.41 7.46L12 18.81l-6.75-6.74a4.28 4.28 0 0 1 3-7.3a4.25 4.25 0 0 1 3 1.25a1 1 0 0 0 1.42 0a4.27 4.27 0 0 1 6 6.05Z"/>
    </symbol>
    <symbol xmlns="http://www.w3.org/2000/svg" id="plus" viewBox="0 0 24 24">
      <path fill="currentColor" d="M19 11h-6V5a1 1 0 0 0-2 0v6H5a1 1 0 0 0 0 2h6v6a1 1 0 0 0 2 0v-6h6a1 1 0 0 0 0-2Z"/>
    </symbol>
    <symbol xmlns="http://www.w3.org/2000/svg" id="minus" viewBox="0 0 24 24">
      <path fill="currentColor" d="M19 11H5a1 1 0 0 0 0 2h14a1 1 0 0 0 0-2Z"/>
    </symbol>
    <symbol xmlns="http://www.w3.org/2000/svg" id="cart" viewBox="0 0 24 24">
      <path fill="currentColor" d="M8.5 19a1.5 1.5 0 1 0 1.5 1.5A1.5 1.5 0 0 0 8.5 19ZM19 16H7a1 1 0 0 1 0-2h8.491a3.013 3.013 0 0 0 2.885-2.176l1.585-5.55A1 1 0 0 0 19 5H6.74a3.007 3.007 0 0 0-2.82-2H3a1 1 0 0 0 0 2h.921a1.005 1.005 0 0 1 .962.725l.155.545v.005l1.641 5.742A3 3 0 0 0 7 18h12a1 1 0 0 0 0-2Zm-1.326-9l-1.22 4.274a1.005 1.005 0 0 1-.963.726H8.754l-.255-.892L7.326 7ZM16.5 19a1.5 1.5 0 1 0 1.5 1.5a1.5 1.5 0 0 0-1.5-1.5Z"/>
    </symbol>
    <symbol xmlns="http://www.w3.org/2000/svg" id="check" viewBox="0 0 24 24">
      <path fill="currentColor" d="M18.71 7.21a1 1 0 0 0-1.42 0l-7.45 7.46l-3.13-3.14A1 1 0 1 0 5.29 13l3.84 3.84a1 1 0 0 0 1.42 0l8.16-8.16a1 1 0 0 0 0-1.47Z"/>
    </symbol>
    <symbol xmlns="http://www.w3.org/2000/svg" id="trash" viewBox="0 0 24 24">
      <path fill="currentColor" d="M10 18a1 1 0 0 0 1-1v-6a1 1 0 0 0-2 0v6a1 1 0 0 0 1 1ZM20 6h-4V5a3 3 0 0 0-3-3h-2a3 3 0 0 0-3 3v1H4a1 1 0 0 0 0 2h1v11a3 3 0 0 0 3 3h8a3 3 0 0 0 3-3V8h1a1 1 0 0 0 0-2ZM10 5a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v1h-4Zm7 14a1 1 0 0 1-1 1H8a1 1 0 0 1-1-1V8h10Zm-3-1a1 1 0 0 0 1-1v-6a1 1 0 0 0-2 0v6a1 1 0 0 0 1 1Z"/>
    </symbol>
    <symbol xmlns="http://www.w3.org/2000/svg" id="star-outline" viewBox="0 0 15 15">
      <path fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" d="M7.5 9.804L5.337 11l.413-2.533L4 6.674l2.418-.37L7.5 4l1.082 2.304l2.418.37l-1.75 1.793L9.663 11L7.5 9.804Z"/>
    </symbol>
    <symbol xmlns="http://www.w3.org/2000/svg" id="star-solid" viewBox="0 0 15 15">
      <path fill="currentColor" d="M7.953 3.788a.5.5 0 0 0-.906 0L6.08 5.85l-2.154.33a.5.5 0 0 0-.283.843l1.574 1.613l-.373 2.284a.5.5 0 0 0 .736.518l1.92-1.063l1.921 1.063a.5.5 0 0 0 .736-.519l-.373-2.283l1.574-1.613a.5.5 0 0 0-.283-.844L8.921 5.85l-.968-2.062Z"/>
    </symbol>
    <symbol xmlns="http://www.w3.org/2000/svg" id="search" viewBox="0 0 24 24">
      <path fill="currentColor" d="M21.71 20.29L18 16.61A9 9 0 1 0 16.61 18l3.68 3.68a1 1 0 0 0 1.42 0a1 1 0 0 0 0-1.39ZM11 18a7 7 0 1 1 7-7a7 7 0 0 1-7 7Z"/>
    </symbol>
    <symbol xmlns="http://www.w3.org/2000/svg" id="user" viewBox="0 0 24 24">
      <path fill="currentColor" d="M15.71 12.71a6 6 0 1 0-7.42 0a10 10 0 0 0-6.22 8.18a1 1 0 0 0 2 .22a8 8 0 0 1 15.9 0a1 1 0 0 0 1 .89h.11a1 1 0 0 0 .88-1.1a10 10 0 0 0-6.25-8.19ZM12 12a4 4 0 1 1 4-4a4 4 0 0 1-4 4Z"/>
    </symbol>
    <symbol xmlns="http://www.w3.org/2000/svg" id="close" viewBox="0 0 15 15">
      <path fill="currentColor" d="M7.953 3.788a.5.5 0 0 0-.906 0L6.08 5.85l-2.154.33a.5.5 0 0 0-.283.843l1.574 1.613l-.373 2.284a.5.5 0 0 0 .736.518l1.92-1.063l1.921 1.063a.5.5 0 0 0 .736-.519l-.373-2.283l1.574-1.613a.5.5 0 0 0-.283-.844L8.921 5.85l-.968-2.062Z"/>
    </symbol>
  </defs>
</svg>
<!--carrito oculto-->

<!-- background-image: url('/assets_pacient/images/background-pattern.jpg');background-repeat: no-repeat;background-size: cover;
-->
  <!--
  <nav th:replace="navbarPaciente :: navbar(activeTab = 'home')"> </nav>
-->

  <div class="main-wrapper" style="margin-left:1.5% ; margin-right:1.5%;">
  <div class="offcanvas offcanvas-end" data-bs-scroll="true" tabindex="-1" id="offcanvasCart" aria-labelledby="My Cart">
    <div class="offcanvas-header justify-content-center">
      <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body">
      <div class="order-md-last">
        <h4 class="d-flex justify-content-between align-items-center mb-3" >
          <span class="text-primary">Carrito</span>
          <span class="badge bg-primary rounded-pill">0</span>
        </h4>
        <ul class="list-group mb-3">
          <li class="list-group-item d-flex justify-content-between lh-sm">
            <div>
              <h6 class="my-0">Growers cider</h6>
              <small class="text-body-secondary">Brief description</small>
            </div>
            <span class="text-body-secondary">$12</span>
          </li>
          <li class="list-group-item d-flex justify-content-between">
            <span>Total (USD)</span>
            <strong>$20</strong>
          </li>
        </ul>
        <button href="/patient/verGenerarOrdenCompra" class="w-100 btn btn-primary btn-lg" type="button">Continua a la sección de pago</button>
      </div>
    </div>
  </div>
  <!--
  <section class="py-5" style=" margin-top: 0.1% ">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-12">
          <div class="banner-blocks">
            <div class="banner-ad large bg-info block-1">
              <div class="swiper main-swiper">
                <div class="swiper-wrapper">
                  <div class="swiper-slide">
                    <div class="row banner-content p-5">
                      <div class="content-wrapper col-md-7">
                        <div class="categories my-3">OFERTAS</div>
                        <h3 class="display-4"></h3>
                        <p>En diversos productos del cuidado facial.</p>
                        <a href="#" class="btn btn-outline-dark btn-lg text-uppercase fs-6 rounded-1 px-4 py-3 mt-3">Compra ahora</a>
                      </div>
                      <div class="img-wrapper col-md-5">
                        <img src="../assets_pacient/images/gelLimpiezSF.png" width="650" height="750" class="img-fluid">
                      </div>
                    </div>
                  </div>

                  <div class="swiper-slide">
                    <div class="row banner-content p-5">
                      <div class="content-wrapper col-md-7">
                        <div class="categories mb-3 pb-3">Nuevo producto</div>
                        <h3 class="banner-title">Gaseovet</h3>
                        <p>Alivia el malestar estomacal</p>
                        <a href="#" class="btn btn-outline-dark btn-lg text-uppercase fs-6 rounded-1">Compra ahora</a>
                      </div>
                      <div class="img-wrapper col-md-5">
                        <img src="../assets_pacient/images/gaseovet-removebg-preview.png" class="img-fluid">
                      </div>
                    </div>
                  </div>

                  <div class="swiper-slide">
                    <div class="row banner-content p-5">
                      <div class="content-wrapper col-md-7">
                        <div class="categories mb-3 pb-3">Nuevo producto</div>
                        <h3 class="banner-title">Vick primera defensa</h3>
                        <p>Ayuda a aumentar tus defensas y te protege contra la gripe.</p>
                        <a href="#" class="btn btn-outline-dark btn-lg text-uppercase fs-6 rounded-1">Compra <ahora></ahora></a>
                      </div>
                      <div class="img-wrapper col-md-5">
                        <img src="../assets_pacient/images/vickPrimeraDefensa-removebg-preview.png" class="img-fluid">
                      </div>
                    </div>
                  </div>
                </div>


              </div>
            </div>

            <div class="banner-ad bg-success-subtle block-2" style="background:url('/assets_pacient/images/ad-image-1.png') no-repeat;background-position: right bottom">
              <div class="row banner-content p-5">

                <div class="content-wrapper col-md-7">
                  <div class="categories sale mb-3 pb-3">20% descuento</div>
                  <h3 class="banner-title">Gaseovet</h3>
                  <a href="#" class="d-flex align-items-center nav-link">Alivia el malestar estomacal <svg width="24" height="24"><use xlink:href="#arrow-right"></use></svg></a>
                </div>

              </div>
            </div>

            <div class="banner-ad bg-danger block-3" style="background:url('/assets_pacient/images/ad-image-2.png') no-repeat;background-position: right bottom">
              <div class="row banner-content p-5">

                <div class="content-wrapper col-md-7">
                  <div class="categories sale mb-3 pb-3">15% descuento</div>
                  <h3 class="item-title">Vick primera defensa</h3>
                  <a href="#" class="d-flex align-items-center nav-link">Ayuda a detener el avance del resfriado <svg width="24" height="24"><use xlink:href="#arrow-right"></use></svg></a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
-->
  <section class="py-5 overflow-hidden">
    <div class="container-fluid">

      <div class="row">
        <div class="col-md-12">
          <h2 class="section-title mb-4" style="font-weight: bold; font-style: italic ;color: darkorange;text-decoration: underline; text-decoration-color: darkorange;">Bienvenido a la sede Pando 1</h2>
          <div class="section-header d-flex flex-wrap justify-content-between mb-5">
            <h2 class="section-title">Categorías</h2>
            <div class="d-flex align-items-center">
              <button class="border-0 bg-transparent d-flex flex-column gap-2 lh-1" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasCart" aria-controls="offcanvasCart">
                <h3 class="category-title">Carrito</h3>
                <span class="cart-total fs-5 fw-bold">S/290.00</span>
              </button>
              <!--
              <a href="#" class="btn-link text-decoration-none">Todas las categorías</a>
-->
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <div class="category-carousel d-flex flex-wrap justify-content-between">
            <a href="#" class="nav-link category-item">
              <img src="../assets_pacient/images/analgesico.png" width="120" height="95" alt="Category Thumbnail">
              <h3 class="category-title">Todo</h3>
            </a>
            <a href="#" class="nav-link category-item">
              <img src="../assets_pacient/images/analgesico.png" width="120" height="95" alt="Category Thumbnail">
              <h3 class="category-title">Analgésicos</h3>
            </a>
            <a href="#" class="nav-link category-item">
              <img src="../assets_pacient/images/suplemento.png" width="120" height="95" alt="Category Thumbnail">
              <h3 class="category-title">Suplementos</h3>
            </a>
            <a href="#" class="nav-link category-item">
              <img src="../assets_pacient/images/belleza.png" width="120" height="95" alt="Category Thumbnail">
              <h3 class="category-title">Belleza</h3>
            </a>
            <a href="#" class="nav-link category-item">
              <img src="../assets_pacient/images/alergia.png" width="120" height="95" alt="Category Thumbnail">
              <h3 class="category-title">Alergias</h3>
            </a>
            <a href="#" class="nav-link category-item">
              <img src="../assets_pacient/images/otros.png" width="120" height="95" alt="Category Thumbnail">
              <h3 class="category-title">Otros</h3>
            </a>

            <!--
            <a class="nav-link category-item">
              <img src="../assets_pacient/img/icons/sales1.svg" width="120" height="95" alt="Category Thumbnail">
              <button class="border-0 bg-transparent d-flex flex-column gap-2 lh-1" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasCart" aria-controls="offcanvasCart">
                <h3 class="category-title">Carrito</h3>
                <span class="cart-total fs-5 fw-bold">S/290.00</span>
              </button>
            </a>
            -->
          </div>
        </div>
      </div>
    </div>
  </section>
  <!--style="background-image: url('/assets_pacient/images/background-pattern.jpg');background-repeat: no-repeat;background-size: cover;"
  -->
  <section class="py-2" >
    <div class="shopify-grid">
      <div class="container-fluid">
        <div class="row g-5">
          <!--
          <aside class="col-md-2">
            <div class="sidebar">
              <div class="widget-menu">
                <div class="widget-search-bar">
                  <form role="search" method="get" class="d-flex position-relative">
                    <form class="d-flex mt-3 gap-0" action="#">
                      <input class="form-control form-control-lg rounded-2 bg-light" type="email" placeholder="Buscar.." aria-label="Search here">
                      <button class="btn bg-transparent position-absolute end-0" type="submit"><svg width="24" height="24" viewBox="0 0 24 24"><use xlink:href="#search"></use></svg></button>
                    </form>
                  </form>
                </div>
              </div>

              <div class="widget-price-filter pt-3">
                <h5 class="widget-titlewidget-title">Filtrar por precio</h5>
                <ul class="product-tags sidebar-list list-unstyled">
                  <li class="tags-item">
                    <a href="#" class="nav-link">Menor a S/10.00</a>
                  </li>
                  <li class="tags-item">
                    <a href="#" class="nav-link">S/10.00- S/20.00</a>
                  </li>
                  <li class="tags-item">
                    <a href="#" class="nav-link">S/20.00- S/30.00</a>
                  </li>
                  <li class="tags-item">
                    <a href="#" class="nav-link">S/30.00- S/40.00</a>
                  </li>
                  <li class="tags-item">
                    <a href="#" class="nav-link">S/40.00- S/50.00</a>
                  </li>
                </ul>
              </div>
            </div>
          </aside>
-->
          <main class="col-md-10">

            <div class="filter-shop d-flex justify-content-between">
              <div class="showing-product">
                <p th:text="|Mostrando ${listaMedicinas.size()} resultados|"></p>
              </div>
              <div class="sort-by">
                <select id="input-sort" class="form-control" data-filter-sort="" data-filter-order="">
                  <option value="">Ordenado por defecto</option>
                  <option value="">Alfabeticamente (A - Z)</option>
                  <option value="">Alfabeticamente (Z - A)</option>
                  <option value="">Precio ascendente</option>
                  <option value="">Precio descendente</option>
                </select>
              </div>
            </div>

            <style>
              .product-item .btn-wishlist {
                position: absolute;
                top: 20px;
                right: 20px;
                width: 50px;
                height: 50px;
                border-radius: 50px;
                display: flex;
                align-items: center;
                justify-content: center;
                background: #fff;
                border: 1px solid #d8d8d8;
                transition: all 0.3s ease-out;
              }
              .product-item .btn-wishlist:hover {
                background: rgb(182, 158, 110);
                color: #fff;
              }

              .input-number.no-border {
                border: none;
                background: transparent;
                text-align: center;
                vertical-align: middle; /* Añadir esta línea */
                padding: 0; /* Opcional: ajustar padding para mejor alineación */
                line-height: normal;
              }

              .input-group.product-qty {
                display: flex;
                align-items: center; /* Añadir esta línea para centrar elementos verticalmente */
              }

            </style>

            <div class="product-grid row row-cols-sm-1 row-cols-md-2 row-cols-lg-3 row-cols-xl-4" id="cardContainer">
              <!--Lista medicamentos-->
              <div  class="col" th:each="medicine: ${listaMedicinas}">

                  <div class="product-item" >
                    <a  th:id="|${medicine.idMedicine}|" class="btn-wishlist"><svg width="24" height="24"><use xlink:href="#products"></use></svg></a>
                    <script th:inline="javascript" >
                      document.getElementById([[${medicine.idMedicine}]]).onclick = function (){
                        data = {idMedicine: [[${medicine.idMedicine}]] }
                        $.ajax({
                          url: "/patient/verSingleProduct",
                          type: "POST",
                          data: data ,
                          success : function (response){
                            var Header =  "<table class=\"table\">\n                                                                  <thead>\n                                                                    <tr>\n                                                                      <th>#</th>\n                                                                      <th>Medicamento</th>\n                                                                                                                                           \n                                                                      <th>Cantidad</th>\n                                                                    </tr>\n                                                                  </thead>\n                                                                  <tbody>";
                            var auxAux;
                            var count = 1;
                            var rows = "";
                            response.forEach(function (producto) {
                              auxAux = JSON.parse(producto);
                            })
                            Swal.fire({
                              width:  1000,
                              confirmButtonText: "Regresar",
                              html: "<section id=\"selling-product\" class=\"single-product mt-0 mt-1 py-5\" style=\" background-image: url('assets_pacient/images/background-pattern.jpg');background-repeat: no-repeat;background-size: cover; height: 800%\">\n" +
                                      "  <div class=\"container-fluid\"  style=\"margin-top: 6%;\">\n" +
                                      "    <div class=\"row g-5\">\n" +
                                      "      <div class=\"col-lg-7\">\n" +
                                      "        <div class=\"row flex-column-reverse flex-lg-row\">\n" +
                                      "          <div class=\"col-md-12 col-lg-10\">\n" +
                                      "            <!-- product-large-slider -->\n" +
                                      "            <div class=\"swiper product-large-slider swiper-fade swiper-initialized swiper-horizontal swiper-watch-progress swiper-backface-hidden\">\n" +
                                      "              <div class=\"swiper-wrapper\" id=\"swiper-wrapper-143bd5aa0c10e8ca2\" aria-live=\"polite\">\n" +
                                      "                <div class=\"swiper-slide swiper-slide-visible swiper-slide-active\" role=\"group\" aria-label=\"1 / 5\" style=\"width: 672px; opacity: 1; transform: translate3d(0px, 0px, 0px);\">\n" +
                                      "                  <div class=\"image-zoom\" data-scale=\"2.5\" data-image=\"images/product-large-1.jpg\"><img src='../assets_pacient/images/analgesico.png' width=\"300\" height=\"10\" alt=\"product-large\" class=\"img-fluid\"></div>\n" +
                                      "                </div>\n" +
                                      "                <div class=\"swiper-slide swiper-slide-next\" role=\"group\" aria-label=\"2 / 5\" style=\"width: 672px; opacity: 0; transform: translate3d(-672px, 0px, 0px);\">\n" +
                                      "                  <div class=\"image-zoom\" data-scale=\"2.5\" data-image=\"images/product-large-2.jpg\"><img src=\"../../static/FoodMart%20-%20Free%20eCommerce%20Grocery%20Store%20HTML%20Website%20Template_files/product-large-2.jpg\" alt=\"product-large\" class=\"img-fluid\"></div>\n" +
                                      "                </div>\n" +
                                      "                <div class=\"swiper-slide\" role=\"group\" aria-label=\"3 / 5\" style=\"width: 672px; opacity: 0; transform: translate3d(-1344px, 0px, 0px);\">\n" +
                                      "                  <div class=\"image-zoom\" data-scale=\"2.5\" data-image=\"images/product-large-3.jpg\"><img src=\"../../static/FoodMart%20-%20Free%20eCommerce%20Grocery%20Store%20HTML%20Website%20Template_files/product-large-3.jpg\" alt=\"product-large\" class=\"img-fluid\"></div>\n" +
                                      "                </div>\n" +
                                      "                <div class=\"swiper-slide\" role=\"group\" aria-label=\"4 / 5\" style=\"width: 672px; opacity: 0; transform: translate3d(-2016px, 0px, 0px);\">\n" +
                                      "                  <div class=\"image-zoom\" data-scale=\"2.5\" data-image=\"images/product-large-4.jpg\"><img src=\"../../static/FoodMart%20-%20Free%20eCommerce%20Grocery%20Store%20HTML%20Website%20Template_files/product-large-4.jpg\" alt=\"product-large\" class=\"img-fluid\"></div>\n" +
                                      "                </div>\n" +
                                      "                <div class=\"swiper-slide\" role=\"group\" aria-label=\"5 / 5\" style=\"width: 672px; opacity: 0; transform: translate3d(-2688px, 0px, 0px);\">\n" +
                                      "                  <div class=\"image-zoom\" data-scale=\"2.5\" data-image=\"images/product-large-5.jpg\"><img src=\"../../static/FoodMart%20-%20Free%20eCommerce%20Grocery%20Store%20HTML%20Website%20Template_files/product-large-5.jpg\" alt=\"product-large\" class=\"img-fluid\"></div>\n" +
                                      "                </div>\n" +
                                      "              </div>\n" +
                                      "              <!-- / product-large-slider -->\n" +
                                      "            </div>\n" +
                                      "          </div>\n" +
                                      "        </div>\n" +
                                      "      </div>\n" +
                                      "      <div class=\"col-lg-5\">\n" +
                                      "        <div class=\"product-info\">\n" +
                                      "          <div class=\"element-header\">\n" +
                                      "            <h2 itemprop=\"name\" class=\"display-6\">" + auxAux.name +"</h2>\n" +
                                      "          </div>\n" +
                                      "          <div class=\"product-price pt-3 pb-3 mt-2 \">\n" +
                                      "            <strong class=\"text-primary display-6 fw-bold\">"+ "s/."+auxAux.price+"</strong>\n" +
                                      "            <!--para descuento\n" +
                                      "            <del class=\"ms-2\">$940.00</del>\n" +
                                      "          -->\n" +
                                      "          </div>\n" +
                                      "          <p class='mt-2'>\n" +
                                      auxAux.description+
                                      "</p>" +
                                      "            <div class=\"meta-item d-flex mt-2 align-items-baseline\">\n" +
                                      "              <h6 class=\"item-title no-margin pe-2\">Categoría:</h6>\n" +
                                      "              <ul class=\"select-list list-unstyled d-flex\">\n" +
                                      "                <li data-value=\"S\" class=\"select-item\">\n" +
                                      "                  <a>"+ auxAux.category+"</a>\n" +
                                      "                </li>\n" +
                                      "              </ul>\n" +
                                      "            </div>\n" +
                                      "          </div>\n" +
                                      "        </div>\n" +
                                      "      </div>\n" +
                                      "    </div>\n" +
                                      "  </div>\n" +
                                      "</section>\n",
                              confirmButtonColor: "#dd986a"
                            })
                          }
                        });
                      }
                    </script>
                    <figure>
                      <a  title="Product Title">
                        <img th:src="@{'/imagenes/' + ${medicine.photo}}" alt="Product Thumbnail" class="tab-image">
                      </a>
                    </figure>
                    <h3 th:text="${medicine.nombreMedicamento}"></h3>
                    <input  name="nombre" th:value="${medicine.nombreMedicamento}" type="hidden" >
                    <!--/*@thymesVar id="valoracion" type=""*/-->
                    <span class="price" th:text="|S/${medicine.getPrecio()}|"></span>
                    <input  name="precio" th:value="${medicine.getPrecio()}" type="hidden" >
                    <div class="d-flex align-items-center justify-content-between">
                      <div class="input-group product-qty">
                                      <span class="input-group-btn">
                                          <button type="button" name="quantity"  class="quantity-left-minus btn btn-danger btn-number" data-type="minus">
                                            <svg width="16" height="16"><use xlink:href="#minus"></use></svg>
                                          </button>
                                      </span>
                        <input name="cantidad" th:id="|cantidadMedicina${medicine.idMedicine}|" type="text"  class="form-control input-number no-border quantity" value="1">
                        <span class="input-group-btn">
                                          <button type="button" name="quantity" class="quantity-right-plus btn btn-success btn-number" data-type="plus">
                                              <svg width="16" height="16"><use xlink:href="#plus"></use></svg>
                                          </button>
                                      </span>
                      </div>
                      <input  name="idMedicina" th:value="${medicine.idMedicine}" type="hidden" >
                      <button th:onclick="|addCart(${medicine.idMedicine})|" type="button" class="nav-link add-to-cart-button">Agregar al carro <svg width="18" height="18"><use xlink:href="#cart"></use></svg></button>
                    </div>

                  </div>

              </div>
              </div>
            <script type="text/javascript">
              function getPageList(totalPages, page, maxLength){
                function range(start, end) {
                  return Array.from(Array(end-start+1), (_,i) => i+start);
                }

                var sideWidth = maxLength < 9?1:2;
                var leftWidth = (maxLength - sideWidth*2-3) >>1;
                var rightWidth = (maxLength - sideWidth*2-3) >>1;

                if(totalPages <= maxLength){
                  return range(1, totalPages);
                }

                if(page<= maxLength - sideWidth - 1- rightWidth){
                  return  range(1, maxLength - sideWidth - 1).concat(0,range(totalPages - sideWidth +1, totalPages));
                }
                if(page>= totalPages - sideWidth - 1- rightWidth){
                  return  range(1, sideWidth).concat(0,range(totalPages - sideWidth -1-rightWidth-leftWidth, totalPages));
                }
                return range(1,sideWidth).concat(0, range(page - leftWidth, page+rightWidth),0, range(totalPages - sideWidth +1, totalPages));
              }

              $(function (){
                var numberOfItems= $(".col .product-item").length;
                var limitPerPage = 8;
                var totalPages = Math.ceil(numberOfItems / limitPerPage);
                var paginationSize = 5;
                var currentPage;

                function showPage(wichPage){
                  if(wichPage < 1 || wichPage > totalPages) return false;
                  currentPage = wichPage;

                  // Ocultar todos los elementos de la página actual
                  $(".col .product-item").hide();

                  // Mostrar los elementos correspondientes a la página actual
                  $(".col .product-item").slice((currentPage - 1) * limitPerPage, currentPage * limitPerPage).show();

                  // Limpiar la paginación antes de agregar los nuevos botones
                  $(".pagination li:not(:first-child, :last-child)").remove();

                  // Generar y agregar los nuevos botones de paginación
                  getPageList(totalPages, currentPage, paginationSize).forEach(item => {
                    $("<li>").addClass("page-item").addClass(item ? "current-page" : "dots")
                            .toggleClass("active", item === currentPage)
                            .append($("<a>").addClass("page-link").attr({href: "javascript:void(0)"}).text(item || "..."))
                            .insertBefore(".next-page");
                  });

                  // Habilitar o deshabilitar los botones de página anterior y siguiente según la página actual
                  $(".previous-page").toggleClass("disable", currentPage === 1);
                  $(".next-page").toggleClass("disable", currentPage === totalPages);

                  return true;
                }

                $(".pagination").append(
                        $("<li>").addClass("page-item").addClass("previous-page").append($("<a>").addClass("page-link").attr({href:"javascript:void(0)"}).text("Prev")),
                        $("<li>").addClass("page-item").addClass("next-page").append($("<a>").addClass("page-link").attr({href:"javascript:void(0)"}).text("Sig"))
                );
                $(".product-item").show();
                showPage(1);

                $(document).on("click", ".pagination li.current-page:not(.active)",function() {
                  return showPage(+$(this).text());
                });
                $(".next-page").on("click", function() {
                  return showPage(currentPage+1);
                });
                $(".previous-page").on("click", function() {
                  return showPage(currentPage-1);
                });
              });
            </script>
            <script>
              var cart=[];
              function addCart(a){
                var aux = "#" + a;
                data= $(aux).serialize()
                cart.push({data})
                $.ajax({
                  async: true, // Configura la solicitud como asincrónica
                  url: "/patient/addCart",
                  type: "POST",
                  data: data,
                })
                console.log(data);
              }







              $("agregarCarrito").click(function(){
                const product =  document.getElementById("miFormulario");
                const email = document.getElementById("idMedicina").value;
              })


              const addToCartButtons = document.querySelectorAll('.add-to-cart-button');
              // Función para manejar el evento de clic en "Agregar al carrito"
              function addToCartHandler(event) {

                // Obtiene la información del producto desde el botón
                const productInfo = event.target.dataset.productInfo;
                // Convierte la información del producto a un objeto JavaScript
                const product = JSON.parse(productInfo);

                // Crea un nuevo elemento de lista para el carrito
                const listItem = document.createElement('li');
                listItem.classList.add('list-group-item', 'd-flex', 'justify-content-between', 'lh-sm');

                // Contenido del elemento de lista del carrito
                listItem.innerHTML = `
                                <div>
                                  <h6 class="my-0">${product.nombreMedicamento}</h6>
                                  <small class="text-body-secondary">${product.descripcionMedicamento}</small>
                                </div>
                                <span class="text-body-secondary">$${product.getPrecio()}</span>
                              `;

                // Selecciona la lista del carrito
                const cartList = document.querySelector('#cart-list');

                // Agrega el nuevo elemento de lista al carrito
                cartList.appendChild(listItem);

                // Actualiza el total
                updateTotal(product.getPrecio());
              }

              // Agrega el manejador de evento de clic a cada botón "Agregar al carrito"
              addToCartButtons.forEach(button => {
                button.addEventListener('click', addToCartHandler);
              });

              // Función para actualizar el total del carrito
              function updateTotal(price) {
                // Selecciona el elemento que muestra el total
                const totalElement = document.querySelector('#cart-total');
                // Obtiene el valor actual del total y lo convierte a número
                let currentTotal = parseFloat(totalElement.textContent.replace('$', ''));
                // Suma el precio del nuevo producto al total
                currentTotal += parseFloat(price);
                // Actualiza el contenido del elemento que muestra el total
                totalElement.textContent = '$' + currentTotal.toFixed(2); // Asegura que se muestren solo dos decimales
              }
            </script>



          </main>
          <!--Paginacion-->
          <div style="display: flex; justify-content: center;">
            <div class="pagination">
              <li class="page-item previous-page disable"><a class="page-link" href="#">Prev</a></li>
              <li class="page-item current-page active"><a class="page-link" href="#">1</a></li>
              <li class="page-item dots"><a class="page-link" href="#">...</a></li>
              <li class="page-item current-page"><a class="page-link" href="#">5</a></li>
              <li class="page-item current-page"><a class="page-link" href="#">6</a></li>
              <li class="page-item dots"><a class="page-link" href="#">...</a></li>
              <li class="page-item current-page"><a class="page-link" href="#">10</a></li>
              <li class="page-item next-page"><a class="page-link" href="#">Sig</a></li>
            </div>
          </div>

        </div>
      </div>
    </div>
  </section>
<!--
  <section class="py-5 overflow-hidden mb-5">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-12">

          <div class="section-header d-flex flex-wrap flex-wrap justify-content-between mb-5">

            <h2 class="section-title">Nuevos Productos</h2>

            <div class="d-flex align-items-center">
              <div class="swiper-buttons">
                <button class="swiper-prev brand-carousel-prev btn btn-yellow">❮</button>
                <button class="swiper-next brand-carousel-next btn btn-yellow">❯</button>
              </div>
            </div>
          </div>

        </div>
      </div>
      <div class="row">
        <div class="col-md-12">

          <div class="brand-carousel swiper">
            <div class="swiper-wrapper">

              <div class="swiper-slide">
                <div class="card mb-3 p-3 rounded-4 shadow border-0">
                  <div class="row g-0">
                    <div class="col-md-4">
                      <img src="../assets_superAdmin/images/gaseovet.jpg" class="img-fluid rounded" alt="Card title">
                    </div>
                    <div class="col-md-8">
                      <div class="card-body py-0">
                        <p class="text-muted mb-0">Gaseovet</p>
                        <h5 class="card-title">Alivia el malestar estomacal</h5>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="swiper-slide">
                <div class="card mb-3 p-3 rounded-4 shadow border-0">
                  <div class="row g-0">
                    <div class="col-md-4">
                      <img src="../assets_superAdmin/images/gelLimpiezSF.png" class="img-fluid rounded" alt="Card title">
                    </div>
                    <div class="col-md-8">
                      <div class="card-body py-0">
                        <p class="text-muted mb-0">Gel facial</p>
                        <h5 class="card-title">Limpia tu rostro sin resecarlo</h5>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="swiper-slide">
                <div class="card mb-3 p-3 rounded-4 shadow border-0">
                  <div class="row g-0">
                    <div class="col-md-4">
                      <img src="../assets_superAdmin/images/vickPrimeraDefensa.jpg" class="img-fluid rounded" alt="Card title">
                    </div>
                    <div class="col-md-8">
                      <div class="card-body py-0">
                        <p class="text-muted mb-0">Vick primera defensa</p>
                        <h5 class="card-title">Mejora las defensas ante la gripe</h5>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <div class="swiper-slide">
                <div class="card mb-3 p-3 rounded-4 shadow border-0">
                  <div class="row g-0">
                    <div class="col-md-4">
                      <img src="images/product-thumb-11.jpg" class="img-fluid rounded" alt="Card title">
                    </div>
                    <div class="col-md-8">
                      <div class="card-body py-0">
                        <p class="text-muted mb-0">Amber Jar</p>
                        <h5 class="card-title">Honey best nectar you wish to get</h5>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="swiper-slide">
                <div class="card mb-3 p-3 rounded-4 shadow border-0">
                  <div class="row g-0">
                    <div class="col-md-4">
                      <img src="images/product-thumb-12.jpg" class="img-fluid rounded" alt="Card title">
                    </div>
                    <div class="col-md-8">
                      <div class="card-body py-0">
                        <p class="text-muted mb-0">Amber Jar</p>
                        <h5 class="card-title">Honey best nectar you wish to get</h5>
                      </div>
                    </div>
                  </div>
                </div>
              </div>


            </div>
          </div>

        </div>
      </div>
    </div>
  </section>
  -->
</div>
<footer class="py-5" style="background-color: #ffe69c">
  <div class="container">
    <div class="row">

      <div class="col-lg-3 col-md-6 mb-4 mb-lg-0">
        <div class="footer-menu">
          <img src="../assets_superAdmin/images/LogoConLetras.png" width="240" height="79" alt="logo">
          <div class="social-links mt-4">
            <ul class="list-unstyled d-flex gap-2">
              <li>
                <a href="#" class="btn btn-outline-light">
                  <i class="fab fa-twitter"></i>
                </a>
              </li>
              <li>
                <a href="#" class="btn btn-outline-light">
                  <i class="fab fa-facebook-f"></i>
                </a>
              </li>
              <li>
                <a href="#" class="btn btn-outline-light">
                  <i class="fab fa-instagram"></i>
                </a>
              </li>
              <li>
                <a href="#" class="btn btn-outline-light">
                  <i class="fab fa-linkedin-in"></i>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>

      <!--
      <div class="col-lg-3 col-md-6 mb-4 mb-lg-0">
        <div class="footer-menu">
          <h5 class="widget-title">Ultras</h5>
          <ul class="menu-list list-unstyled">
            <li class="menu-item">
              <a href="#" class="nav-link">About us</a>
            </li>
            <li class="menu-item">
              <a href="#" class="nav-link">Conditions</a>
            </li>
            <li class="menu-item">
              <a href="#" class="nav-link">Our Journals</a>
            </li>
            <li class="menu-item">
              <a href="#" class="nav-link">Careers</a>
            </li>
            <li class="menu-item">
              <a href="#" class="nav-link">Affiliate Programme</a>
            </li>
            <li class="menu-item">
              <a href="#" class="nav-link">Ultras Press</a>
            </li>
          </ul>
        </div>
      </div>

      <div class="col-lg-3 col-md-6 mb-4 mb-lg-0">
        <div class="footer-menu">
          <h5 class="widget-title">Customer Service</h5>
          <ul class="menu-list list-unstyled">
            <li class="menu-item">
              <a href="#" class="nav-link">FAQ</a>
            </li>
            <li class="menu-item">
              <a href="#" class="nav-link">Contact</a>
            </li>
            <li class="menu-item">
              <a href="#" class="nav-link">Privacy Policy</a>
            </li>
            <li class="menu-item">
              <a href="#" class="nav-link">Returns & Refunds</a>
            </li>
            <li class="menu-item">
              <a href="#" class="nav-link">Cookie Guidelines</a>
            </li>
            <li class="menu-item">
              <a href="#" class="nav-link">Delivery Information</a>
            </li>
          </ul>
        </div>
      </div>

      <div class="col-lg-3 col-md-6">
         Agrega aquí más secciones si es necesario
      </div>
-->
    </div>
  </div>

  <!--
  <div class="footer-bottom">
    <div class="container">
      <div class="row">
        <div class="col-md-6 text-center text-md-start">
          <p>© 2024 SaintMedic. Reservado con todos los derechos.</p>
        </div>
      </div>
    </div>
  </div>-->
</footer>

<script src="../js_pacient_nav/jquery-1.11.0.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe" crossorigin="anonymous"></script>
<script src="../js_pacient_nav/plugins.js"></script>
<script src="../js_pacient_nav/script.js"></script>
<!-- jQuery -->
<script src="/assets_pacient/js/jquery-3.6.0.min.js"></script>

<!-- Feather Icon JS -->
<script src="/assets_pacient/js/feather.min.js"></script>

<!-- Slimscroll JS -->
<script src="/assets_pacient/js/jquery.slimscroll.min.js"></script>

<!-- Datatable JS -->
<script src="/assets_pacient/js/jquery.dataTables.min.js"></script>
<script src="/assets_pacient/js/dataTables.bootstrap4.min.js"></script>

<!-- Bootstrap Core JS -->
<script src="/assets_pacient/js/bootstrap.bundle.min.js"></script>

<!-- Chart JS -->
<script src="/assets_pacient/plugins/apexchart/apexcharts.min.js"></script>
<script src="/assets_pacient/plugins/apexchart/chart-data.js"></script>
<script src="/assets_pacient/plugins/sweetalert/sweetalert2.all.min.js"></script>
<script src="/assets_pacient/plugins/sweetalert/sweetalerts.min.js"></script>

<!-- Custom JS -->
<script src="/assets_pacient/js/script.js"></script>

<!--Script para el navbar-->
</body>
</html>