<div th:fragment="headerAdminSede" class="header" style="background: linear-gradient(90deg,#f6c32c 46%, #ff9f43 70%);">

    <!-- Logo -->
    <div class="header-left active">
        <a href="#" class="logo">
            <img src="/assets_superAdmin/img/LogoConLetras.png" alt="">
        </a>
        <a href="#" class="logo-small">
            <img src="/assets_superAdmin/img/PastillaSinFondo.png" alt="">
        </a>
        <a id="toggle_btn" href="javascript:void(0);">
        </a>
    </div>
    <!-- /Logo -->

    <a id="mobile_btn" class="mobile_btn" href="#sidebar">
					<span class="bar-icon">
						<span></span>
						<span></span>
						<span></span>
					</span>
    </a>

    <!-- Header Menu -->
    <ul class="nav user-menu">

        <!-- Search -->

        <li class="nav-item"><a style="color: white;" th:text="|Administrador de ${sede}|"></a>
        </li>
        <li class="nav-item dropdown">
            <a href="javascript:void(0);" class="dropdown-toggle nav-link" data-bs-toggle="dropdown">
                <img src="/assets_superAdmin/img/icons/notification-bing.svg" alt="img"> <span class="badge rounded-pill">4</span>
            </a>
            <div class="dropdown-menu notifications">
                <div class="topnav-dropdown-header">
                    <span class="notification-title">Notificaciones</span>
                </div>
                <div class="noti-content">
                    <ul class="notification-list">

                        <li class="notification-message">
                            <a th:href="@{/verNotificacionesAdminSede}">
                                <div class="media d-flex">
												<span class="avatar flex-shrink-0">
													<img alt="" src="/assets_superAdmin/img/Farmacista.jpeg">
												</span>
                                    <div class="media-body flex-grow-1">
                                        <p class="noti-details"><span class="noti-title">Paracetamol5</span> está próximo a acabarse<span class="noti-title"></span></p>
                                        <p class="noti-time"><span class="notification-time">8 mins ago</span></p>
                                    </div>
                                </div>
                            </a>
                        </li>

                        <li class="notification-message">
                            <a th:href="@{/verNotificacionesAdminSede}">
                                <div class="media d-flex">
												<span class="avatar flex-shrink-0">
													<img alt="" src="/assets_superAdmin/img/Farmacista.jpeg">
												</span>
                                    <div class="media-body flex-grow-1">
                                        <p class="noti-details"><span class="noti-title">JeanPiere</span> ha comprado por Chat <span class="noti-title"></span></p>
                                        <p class="noti-time"><span class="notification-time">8 mins ago</span></p>
                                    </div>
                                </div>
                            </a>
                        </li>


                        <li class="notification-message">
                            <a th:href="@{/verNotificacionesAdminSede}">
                                <div class="media d-flex">
												<span class="avatar flex-shrink-0">
													<img alt="" src="/assets_superAdmin/img/Farmacista.jpeg">
												</span>
                                    <div class="media-body flex-grow-1">
                                        <p class="noti-details"><span class="noti-title">JeanPiere</span> ha comprado por Chat <span class="noti-title"></span></p>
                                        <p class="noti-time"><span class="notification-time">8 mins ago</span></p>
                                    </div>
                                </div>
                            </a>
                        </li>

                        <li class="notification-message">
                            <a th:href="@{/verNotificacionesAdminSede}">
                                <div class="media d-flex">
												<span class="avatar flex-shrink-0">
													<img alt="" src="/assets_superAdmin/img/Farmacista.jpeg">
												</span>
                                    <div class="media-body flex-grow-1">
                                        <p class="noti-details"><span class="noti-title">JeanPiere</span> ha comprado por Chat <span class="noti-title"></span></p>
                                        <p class="noti-time"><span class="notification-time">8 mins ago</span></p>
                                    </div>
                                </div>
                            </a>
                        </li>

                        <!--Ejemplo completo-->
                        <!--
                        <li class="notification-message">
                            <a href="notifications.html">
                                <div class="media d-flex">
                                            <span class="avatar flex-shrink-0">
                                                <img alt="" src="assets/img/profiles/avatar-03.jpg">
                                            </span>
                                    <div class="media-body flex-grow-1">
                                        <p class="noti-details"><span class="noti-title">Tarah Shropshire</span> changed the task name <span class="noti-title">Appointment booking with payment gateway</span></p>
                                        <p class="noti-time"><span class="notification-time">6 mins ago</span></p>
                                    </div>
                                </div>
                            </a>
                        </li>
                        -->
                        <li class="notification-message">
                            <a th:href="@{/verNotificacionesAdminSede}" >
                                <div class="media d-flex">
												<span class="avatar flex-shrink-0">
													<img alt="" src="/assets_superAdmin/img/Farmacista.jpeg">
												</span>
                                    <div class="media-body flex-grow-1">
                                        <p class="noti-details"><span class="noti-title">Santiago Yong</span> ha comprado por web<span class="noti-title"></span></p>
                                        <p class="noti-time"><span class="notification-time">8 mins ago</span></p>
                                    </div>
                                </div>
                            </a>
                        </li>


                    </ul>
                </div>
                <div class="topnav-dropdown-footer">
                    <a th:href="@{/verNotificacionesAdminSede}">Mira todas las notificaciones</a>
                </div>
            </div>
        </li>

        <!-- /Notifications -->

        <li class="nav-item dropdown has-arrow main-drop">
            <a href="javascript:void(0);" class="dropdown-toggle nav-link userset" data-bs-toggle="dropdown">
							<span class="user-img"><img src="/assets_superAdmin/img/Farmacista.jpeg" alt="">
							<span class="status online"></span></span>
            </a>
            <div class="dropdown-menu menu-drop-user">
                <div class="profilename">
                    <div class="profileset">
									<span class="user-img"><img src="/assets_superAdmin/img/Farmacista.jpeg" alt="">
									<span class="status online"></span></span>
                        <div class="profilesets">
                            <h6 th:text="${nombre}"></h6>
                            <h5 th:text="${rol}"></h5>
                            <h5 th:text="|Sede: ${sede}|"></h5>
                        </div>
                    </div>
                    <hr class="m-0">
                    <a class="dropdown-item" href="/verPerfilAdminSede"> <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-user me-2"><path d="M20 21v-2a4 4 0 0 0-4-4H8a4 4 0 0 0-4 4v2"></path><circle cx="12" cy="7" r="4"></circle></svg> Mi perfil </a>
                    <hr class="m-0">
                    <a class="dropdown-item logout pb-0" href="/CerrarSesionAdminSede"><img src="/assets_superAdmin/img/icons/log-out.svg" class="me-2" alt="img">Cerrar sesión</a>
                </div>
            </div>
        </li>
    </ul>
    <!-- /Header Menu -->


</div>