<div th:fragment="navbarSuperAdmin" class="header"  style="background: linear-gradient(90deg,#f6c32c 25%, #ff9f43 50%);">
    <!-- Logo -->
    <!-- Logo -->
    <div class="header-left active">
        <a  class="logo">
            <img src="/assets_superAdmin/img/LogoConLetras.png" alt="">
        </a>
        <a  class="logo-small">
            <img src="/assets_superAdmin/img/PastillaSinFondo.png" alt="">
        </a>
        <a id="toggle_btn" href="javascript:void(0);">
        </a>
    </div>
    <!-- /Logo -->

    <a id="mobile_btn" class="mobile_btn" >
					<span class="bar-icon">
						<span></span>
						<span></span>
						<span></span>
					</span>
    </a>
    <!-- /Logo -->

    <!-- Header Menu -->
    <ul class="nav user-menu">

        <!-- Search -->
        <!--
        <li class="nav-item">
            <div class="top-nav-search">

                <a href="javascript:void(0);" class="responsive-search">
                    <i class="fa fa-search"></i>
                </a>
                <form action="#">
                    <div class="searchinputs">
                        <input type="text" placeholder="Search Here ...">
                        <div class="search-addon">
                            <span><img src="assets/img/icons/closes.svg" alt="img"></span>
                        </div>
                    </div>
                    <a class="btn" id="searchdiv"><img src="assets/img/icons/search.svg" alt="img"></a>
                </form>
            </div>
        </li>
        -->
        <!-- /Search -->

        <!-- Flag -->

        <!-- /Flag -->

        <!-- Notifications -->

        <!-- /Notifications -->

        <li class="nav-item dropdown has-arrow main-drop">
            <a href="javascript:void(0);" class="dropdown-toggle nav-link userset" data-bs-toggle="dropdown">
							<span class="user-img"><img src="/assets_superAdmin/img/Farmacista.jpeg" alt="">
							<span class="status online"></span></span>
            </a>
            <div class="dropdown-menu menu-drop-user">
                <div class="profilename">
                    <div class="profileset">
									<span class="user-img"><img src="/assets_superAdmin/img/Farmacista.jpeg" alt="">
									<span class="status online"></span></span>
                        <div class="profilesets">
                            <h6>Manuel Yarleque</h6>
                            <h5>SuperAdmin</h5>
                        </div>
                    </div>
                    <hr class="m-0">
                    <a class="dropdown-item" href="/verPerfilSuperAdmin"> <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-user me-2"><path d="M20 21v-2a4 4 0 0 0-4-4H8a4 4 0 0 0-4 4v2"></path><circle cx="12" cy="7" r="4"></circle></svg> Mi perfil </a>
                    <hr class="m-0">
                    <a class="dropdown-item logout pb-0" href="/inicioSesion"><img src="/assets_superAdmin/img/icons/log-out.svg" class="me-2" alt="img">Cerrar sesión</a>
                </div>
            </div>
        </li>
    </ul>
    <!-- /Header Menu -->

    <!-- Mobile Menu -->
    <div class="dropdown mobile-user-menu">
        <a href="javascript:void(0);" class="nav-link dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false"><i class="fa fa-ellipsis-v"></i></a>
        <div class="dropdown-menu dropdown-menu-right">
            <a class="dropdown-item" href="/verPerfilSuperAdmin">Mi perfil</a>
            <a class="dropdown-item" href="/inicioSesion">Cerrar Sesión</a>
        </div>
    </div>
    <!-- /Mobile Menu -->
</div>