<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0">
    <meta name="description" content="POS - Bootstrap Admin Template">
    <meta name="keywords" content="admin, estimates, bootstrap, business, corporate, creative, invoice, html5, responsive, Projects">
    <meta name="author" content="Dreamguys - Bootstrap Admin Template">
    <meta name="robots" content="noindex, nofollow">
    <title>Saint Medic</title>

    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="/assets_superAdmin/img/PastillaSinFondo.png">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="/assets_superAdmin/css/bootstrap.min.css">

    <!-- Fontawesome CSS -->
    <link rel="stylesheet" href="/assets_superAdmin/plugins/fontawesome/css/fontawesome.min.css">
    <link rel="stylesheet" href="/assets_superAdmin/plugins/fontawesome/css/all.min.css">

    <!-- Main CSS -->
    <link rel="stylesheet" href="/assets_superAdmin/css/style.css">

</head>
<body class="account-page">
<!-- Main Wrapper -->
<div class="main-wrapper">
    <div class="account-content">
        <form  class="login-wrapper" id="miFormulario">
            <div class="login-content">
                <div class="login-userset">
                    <!--
                    <div class="login-logo">
                        <img src="assets/img/LogoConLetras.png" alt="img">
                    </div>
                    -->
                    <div class="login-userheading">
                        <h2>Crear una cuenta</h2>
                    </div>
                    <h5 class="mb-2">
                        Primero, rellena tu DNI para y dale <span style="color: red">"Enter"</span> para continuar. Esto puede tardar unos instantes.

                    </h5>
                    <div class="form-login">
                        <label>DNI</label>
                        <div class="form-addons">
                            <input type="number" id="dni" name="dni" placeholder="Ingrese su número de DNI" required>
                            <img src="/assets_superAdmin/img/icons/users1.svg" alt="img">
                        </div>
                    </div>
                    <script>
                        function capitalizeName(name) {
                            // Separar el nombre por espacios en blanco
                            const words = name.split(' ');

                            // Capitalizar el primer carácter de cada palabra y unir el resto en minúsculas
                            const capitalizedWords = words.map(word => {
                                return word.charAt(0).toUpperCase() + word.slice(1).toLowerCase();
                            });

                            // Unir las palabras nuevamente en un string
                            return capitalizedWords.join(' ');
                        }


                        document.addEventListener('DOMContentLoaded', ()=>{
                           let dni = document.getElementById("dni");
                           dni.addEventListener('keydown', (event) =>{
                              if(event.key ==='Enter'){
                                  $.ajax({
                                      url: "/getDni?dni="+ dni.value,
                                      type:  "GET",
                                      success: function(response){
                                          let name  =  document.getElementById("name");
                                          let lastName = document.getElementById("lastName");
                                          name.placeholder = capitalizeName(response.nombres);
                                          lastName.placeholder= capitalizeName(response.apellidoPaterno + " " + response.apellidoMaterno);
                                          //Les quitamos el readonly al resto de campos
                                          let correo = document.getElementById("correo");
                                          correo.readOnly = false;
                                          let seguro = document.getElementById("seguro");
                                          let direccion = document.getElementById("direccion");
                                          let distrit =document.getElementById("distrit");
                                          direccion.readOnly = false;
                                          seguro.readOnly = false;
                                          distrit.readOnly = false;
                                      } ,
                                      error :  function(response){
                                          let name  =  document.getElementById("name");
                                          let lastName = document.getElementById("lastName");
                                          name.placeholder = "Nombres";
                                          lastName.placeholder= "Apellidos";
                                          let correo = document.getElementById("correo");
                                          correo.readOnly = true;
                                          let seguro = document.getElementById("seguro");
                                          let direccion = document.getElementById("direccion");
                                          let distrit =document.getElementById("distrit");
                                          direccion.readOnly = true;
                                          seguro.readOnly = true;
                                          distrit.readOnly = true;
                                          Swal.fire({
                                              icon: "error",
                                              iconColor: "orange",
                                              title: "El número de DNI que ha ingresado no existe",
                                              confirmButtonColor: "#dd986a"
                                          }).then((result) => {
                                              if (result.isConfirmed) {
                                                  document.getElementById('dni').value = '';
                                              }
                                          });
                                      }
                                  });
                              }
                           });
                        });
                    </script>


                    <div class="form-login">
                        <label>Nombres</label>
                        <div class="form-addons">
                            <input readonly type="number" id="name" name="dni" placeholder="Nombres" required disabled></input>
                            <img src="/assets_superAdmin/img/icons/users1.svg" alt="img">
                        </div>
                    </div>

                    <div class="form-login">
                        <label>Apellidos</label>
                        <div class="form-addons">
                            <input readonly type="number" id="lastName" name="dni" placeholder="Apellidos" required disabled>
                            <img src="/assets_superAdmin/img/icons/users1.svg" alt="img">
                        </div>
                    </div>

                    <div class="form-login">
                        <label>Correo </label>
                        <div class="form-addons">
                            <input readonly type="email" id="correo" name="email" placeholder="Ingrese su correo electrónico" required>
                            <img src="/assets_superAdmin/img/icons/mail.svg" alt="img">
                            <div class="invalid-feedback" id="errorCorreo" style="display: none " > </div>
                        </div>
                    </div>



                    <div class="form-login">
                        <label>Dirección </label>
                        <div class="form-addons">
                            <input readonly  type="text" id="direccion" name="location" placeholder="Ingresa su dirección" required>
                            <img src="/assets_superAdmin/img/icons/users1.svg" alt="img">
                            <div class="invalid-feedback" id="errorDireccion" style="display: none " > </div>
                        </div>
                    </div>
                    <div class="form-login">
                        <label class="mb-2">Seguro</label>
                        <select  name="insurance"  class="form-control mt-3" >
                            <option value="Pacífico">Pacífico</option>
                            <option value="Rímac">Rímac</option>
                            <option value="La Positiva">La Positiva</option>
                            <option value="Otro">Otro</option>
                        </select>
                    </div>

                    <div class="form-login">
                        <label class="mb-2">Distrito</label>
                        <select  name="distrit"  class="form-control mt-3" >
                            <option value="San Miguel">San Miguel</option>
                            <option value="Pueblo Libre">Pueblo Libre</option>
                            <option value="Breña">Breña</option>
                            <option value="Miraflores">Miraflores</option>
                            <option value="Magdalena">Magdalena</option>
                            <option value="San Isidro">San Isidro</option>
                            <option value="Jesus María">Jesus María</option>
                            <option value="Barranco">Barranco</option>
                            <option value="La Molina">La Molina</option>
                        </select>
                    </div>


                    <div class="form-login">
                        <button  class="btn btn-login" type="button" id="registro" >Registrarse</button>
                    </div>

                    <div class="signinform text-center">
                        <h4>Espere a la confirmación de creación, esto puede tomar unos segundos</h4>
                    </div>
                    <div class="signinform text-center">
                        <h4>¿Ya tienes una cuenta? <a href="/inicioSesion" class="hover-a"> Inicia sesión</a></h4>
                    </div>
                </div>
            </div>
            <div class="login-img">
                <img src="/assets_superAdmin/img/LogoCentral.jpeg" alt="img">
            </div>
        </form>
    </div>
</div>
<!-- /Main Wrapper -->

<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<script type="text/javascript">

    $("#registro").click(function(){
        var formulario = document.getElementById("miFormulario");
        var correo = document.getElementById("correo").value;
        var emailRegex = /^[^\s@]+@[^\s@]+\.[^\s@]+$/;
        if(formulario.checkValidity()) {
            if (emailRegex.test(correo)) {
                $.ajax({
                    url: "/getDni?dni="+document.getElementById("dni").value,
                    type: "GET",
                    success: function (response) {
                        // Redirecciona a otra vista
                        //Insertamos inputs de los nuevos nombres
                        // Crear un nuevo elemento de entrada
                        var nuevoInput1 = document.createElement("input");
                        var nuevoInput2 = document.createElement("input");
                        // Configurar las propiedades del nuevo elemento
                        nuevoInput1.type = "text";
                        nuevoInput1.name = "name";
                        nuevoInput1.id = "nombre";
                        nuevoInput1.value= capitalizeName(response.nombres);
                        nuevoInput2.type = "text";
                        nuevoInput2.name = "lastName";
                        nuevoInput2.id = "apellidos";
                        nuevoInput2.value= capitalizeName(response.apellidoPaterno + " " + response.apellidoMaterno) ;
                        var datos = $("#miFormulario").serialize();
                        datos += "&lastName=" + encodeURIComponent(nuevoInput2.value);
                        datos += "&name=" + encodeURIComponent(nuevoInput1.value);
                        // Agregar el nuevo elemento al formulario
                        //$("#miFormulario").appendChild(nuevoInput1);
                        //$("#miFormulario").appendChild(nuevoInput2);
                        $.ajax({
                            url: "/formNuevaCuenta",
                            type: "POST",
                            data: datos,
                            success: function(data) {
                                switch(data.response){
                                    case "Guardado":
                                        Swal.fire({
                                            icon: "succes",
                                            iconColor: "orange",
                                            title: "Bienvenido a SAINT MEDIC",
                                            text:"Te hemos enviamos un enlace a tu correo para que puedas iniciar sesión",
                                            confirmButtonColor: "#dd986a"
                                        }).then((result) => {
                                            if (result.isConfirmed) {
                                                // Redirecciona a otra vista
                                                window.location.href = '/inicioSesion';
                                            }
                                        });
                                        break;
                                    case "YaExiste":
                                        Swal.fire({
                                            icon: "error",
                                            iconColor: "orange",
                                            title: "Este correo o DNI ya tiene una cuenta asociada",
                                            confirmButtonColor: "#dd986a"
                                        }).then((result) => {
                                            if (result.isConfirmed) {
                                                // Redirecciona a otra vista
                                                window.location.href = '/crearCuenta';
                                            }
                                        });
                                        break;
                                }
                            }
                        });
                    } ,
                    error: function(){
                        Swal.fire({
                            icon: "error",
                            iconColor: "orange",
                            title: "El número de DNI que ha ingresado no existe",
                            confirmButtonColor: "#dd986a"
                        }).then((result) => {
                            if (result.isConfirmed) {
                                document.getElementById('dni').value = '';
                            }
                        });
                    }
                });
            }
            }else{
            let correo = document.getElementById("correo");
            let  seguro = document.getElementById("seguro");
            let direccion = document.getElementById("direccion");
            let distrit = document.getElementById("distrit");
            if(correo.value.trim() === ""){
                correo.className= "is-valid";
                document.getElementById("errorCorreo").textContent = "Debe ingresar un valor" ;
                document.getElementById("errorCorreo").style.display = 'block' ;
            }else{
                correo.className= "";
                document.getElementById("errorCorreo").textContent = "" ;
                document.getElementById("errorCorreo").style.display = 'none' ;
            }
            if(!validateEmail(correo.value.trim())){
                correo.className= "is-valid";
                document.getElementById("errorCorreo").textContent = "Debe ingresar un correo" ;
                document.getElementById("errorCorreo").style.display = 'block' ;
            }else{
                correo.className= "";
                document.getElementById("errorCorreo").textContent = "" ;
                document.getElementById("errorCorreo").style.display = 'none' ;
            }
            if(seguro.value.trim() === ""){
                seguro.className= "is-valid";
                document.getElementById("errorSeguro").textContent = "Debe ingresar un valor" ;
                document.getElementById("errorSeguro").style.display = 'block' ;
            }else{
                seguro.className= "";
                document.getElementById("errorSeguro").textContent = "" ;
                document.getElementById("errorSeguro").style.display = 'none' ;
            }
            if(direccion.value.trim()  === ""){
                direccion.className= "is-valid";
                document.getElementById("errorDireccion").textContent = "Debe ingresar un valor" ;
                document.getElementById("errorDireccion").style.display = 'block' ;
            }else{
                direccion.className= "";
                document.getElementById("errorDireccion").textContent = "" ;
                document.getElementById("errorDireccion").style.display = 'none' ;
            }
            if(distrit.value.trim() === ""){
                distrit.className= "is-valid";
                document.getElementById("errorDistrito").textContent = "Debe ingresar un valor" ;
                document.getElementById("errorDistrito").style.display = 'block' ;
            }else{
                distrit.className= "";
                document.getElementById("errorDistrit").textContent = "" ;
                document.getElementById("errorDistrit").style.display = 'none' ;
            }
            //Probamos campo por campo
        }
    });

    function validateEmail(email) {
        // Expresión regular para validar un correo electrónico
        const regex = /^[^\s@]+@[^\s@]+\.[^\s@]+$/;
        return regex.test(email);
    }
</script>

    <script>
        function setReadOnly() {
            const nameField = document.getElementById('name');
            const lastNameField = document.getElementById('lastName');
            nameField.setAttribute('readonly', true);
            lastNameField.setAttribute('readonly', true);
        }

        function monitorFields() {
            const nameField = document.getElementById('name');
            const lastNameField = document.getElementById('lastName');

            const observer = new MutationObserver(function(mutations) {
                mutations.forEach(function(mutation) {
                    if (mutation.type === 'attributes') {
                        if (!nameField.hasAttribute('readonly')) {
                            nameField.setAttribute('readonly', true);
                        }
                        if (!lastNameField.hasAttribute('readonly')) {
                            lastNameField.setAttribute('readonly', true);
                        }
                    }
                });
            });

            observer.observe(nameField, { attributes: true });
            observer.observe(lastNameField, { attributes: true });
        }

        // Set the fields to readonly on page load
        setReadOnly();

        // Monitor the fields for attribute changes
        monitorFields();
    </script>

<!-- jQuery -->
<script src="/assets_superAdmin/js/jquery-3.6.0.min.js"></script>

<!-- Feather Icon JS -->
<script src="/assets_superAdmin/js/feather.min.js"></script>

<!-- Bootstrap Core JS -->
<script src="/assets_superAdmin/js/bootstrap.bundle.min.js"></script>

<!-- Custom JS -->
<script src="/assets_superAdmin/js/script.js"></script>

</body>
</html>