<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0">
    <meta name="description" content="POS - Bootstrap Admin Template">
    <meta name="keywords" content="admin, estimates, bootstrap, business, corporate, creative, invoice, html5, responsive, Projects">
    <meta name="author" content="Dreamguys - Bootstrap Admin Template">
    <meta name="robots" content="noindex, nofollow">
    <title>Saint Medic</title>

    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="/assets_superAdmin/img/PastillaSinFondo.png">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="/assets_superAdmin/css/bootstrap.min.css">

    <!-- Fontawesome CSS -->
    <link rel="stylesheet" href="/assets_superAdmin/plugins/fontawesome/css/fontawesome.min.css">
    <link rel="stylesheet" href="/assets_superAdmin/plugins/fontawesome/css/all.min.css">

    <!-- Main CSS -->
    <link rel="stylesheet" href="/assets_superAdmin/css/style.css">

</head>
<body class="account-page">
<!-- Main Wrapper -->
<div class="main-wrapper">
    <div class="account-content">
        <form  class="login-wrapper" id="miFormulario">
            <div class="login-content">
                <div class="login-userset">
                    <!--
                    <div class="login-logo">
                        <img src="assets/img/LogoConLetras.png" alt="img">
                    </div>
                    -->
                    <div class="login-userheading">
                        <h3>Crear una cuenta</h3>
                    </div>


                    <div class="form-login">
                        <label>DNI</label>
                        <div class="form-addons">
                            <input type="number" id="dni" name="dni" placeholder="Ingrese su número de DNI" required>
                            <img src="/assets_superAdmin/img/icons/users1.svg" alt="img">
                        </div>
                    </div>

                    <div class="form-login">
                        <label>Correo </label>
                        <div class="form-addons">
                            <input type="email" id="correo" name="email" placeholder="Ingrese su correo electrónico" required>
                            <img src="/assets_superAdmin/img/icons/mail.svg" alt="img">
                        </div>
                    </div>

                    <div class="form-login">
                        <label>Seguro</label>
                        <div class="form-addons">
                            <input type="text" id="seguro" name="insurance" placeholder="Ingrese el nombre de su seguro" required>
                            <img src="/assets_superAdmin/img/icons/expense1.svg" alt="img">
                        </div>
                    </div>

                    <div class="form-login">
                        <label>Dirección </label>
                        <div class="form-addons">
                            <input type="text" id="direccion" name="location" placeholder="Ingresa su dirección" required>
                            <img src="/assets_superAdmin/img/icons/users1.svg" alt="img">
                        </div>
                    </div>

                    <div class="form-login">
                        <label>Distrito </label>
                        <div class="form-addons">
                            <input type="text" id="distrit" name="distrit" placeholder="Ingresa el nombre de tu distrito" required>
                            <img src="/assets_superAdmin/img/icons/users1.svg" alt="img">
                        </div>
                    </div>

                    <!--
                    <div class="form-login">
                        <label>Password</label>
                        <div class="pass-group">
                            <input type="password" class="pass-input" placeholder="Enter your password">
                            <span class="fas toggle-password fa-eye-slash"></span>
                        </div>
                    </div>
                    -->
                    <div class="form-login">
                        <button  class="btn btn-login" type="button" id="registro" >Registrarse</button>
                    </div>

                    <div class="signinform text-center">
                        <h4>Espere a la confirmación de creación, esto puede tomar unos segundos</h4>
                    </div>

                    <div class="signinform text-center">
                        <h4>¿Ya tienes una cuenta? <a href="/inicioSesion" class="hover-a"> Inicia sesión</a></h4>
                    </div>
                    <!--
                    <div class="form-setlogin">
                        <h4>Or sign up with</h4>
                    </div>

                    <div class="form-sociallink">
                        <ul>
                            <li>
                                <a href="javascript:void(0);">
                                    <img src="assets/img/icons/google.png" class="me-2" alt="google">
                                    Sign Up using Google
                                </a>
                            </li>
                            <li>
                                <a href="javascript:void(0);">
                                    <img src="assets/img/icons/facebook.png" class="me-2" alt="google">
                                    Sign Up using Facebook
                                </a>
                            </li>
                        </ul>
                    </div>
                    -->
                </div>
            </div>
            <div class="login-img">
                <img src="/assets_superAdmin/img/LogoCentral.jpeg" alt="img">
            </div>
        </form>
    </div>
</div>
<!-- /Main Wrapper -->

<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<script type="text/javascript">

    $("#registro").click(function(){
        var formulario = document.getElementById("miFormulario");
        var correo = document.getElementById("correo").value;
        var emailRegex = /^[^\s@]+@[^\s@]+\.[^\s@]+$/;
        if(formulario.checkValidity()) {
            if (emailRegex.test(correo)) {
                $.ajax({
                    url: "/getDni?dni="+document.getElementById("dni").value,
                    type: "GET",
                    success: function (response) {
                        Swal.fire({
                            icon: "success",
                            iconColor: "orange",
                            title: "Los datos registrados son los siguientes",
                            showCancelButton: true,
                            text: "" +response.nombres +" "+  response.apellidoPaterno + " " + response.apellidoMaterno,
                            confirmButtonColor: "#dd986a",
                            confirmButtonText: "Sí son mis datos" ,
                            cancelButtonColor: "#dd986a",
                            cancelButtonText: "No son mis datos"
                        }).then((result) => {
                            if (result.isConfirmed) {
                                // Redirecciona a otra vista
                                //Insertamos inputs de los nuevos nombres
                                // Crear un nuevo elemento de entrada
                                var nuevoInput1 = document.createElement("input");
                                var nuevoInput2 = document.createElement("input");

                                // Configurar las propiedades del nuevo elemento
                                nuevoInput1.type = "text";
                                nuevoInput1.name = "name";
                                nuevoInput1.id = "nombre";
                                nuevoInput1.value= response.nombres ;
                                nuevoInput2.type = "text";
                                nuevoInput2.name = "lastName";
                                nuevoInput2.id = "apellidos";
                                nuevoInput2.value= response.apellidoPaterno + " " + response.apellidoMaterno ;
                                var datos = $("#miFormulario").serialize();
                                datos += "&lastName=" + encodeURIComponent(nuevoInput2.value);
                                datos += "&name=" + encodeURIComponent(nuevoInput1.value);
                                // Agregar el nuevo elemento al formulario
                                //$("#miFormulario").appendChild(nuevoInput1);
                                //$("#miFormulario").appendChild(nuevoInput2);
                                $.ajax({
                                    url: "/formNuevaCuenta",
                                    type: "POST",
                                    data: datos,
                                    success: function(data) {
                                        switch(data.response){
                                            case "Guardado":
                                                Swal.fire({
                                                    icon: "succes",
                                                    iconColor: "orange",
                                                    title: "Bienvenido a SAINT MEDIC",
                                                    text:"Te hemos enviamos un enlace a tu correo para que puedas iniciar sesión",
                                                    confirmButtonColor: "#dd986a"
                                                }).then((result) => {
                                                    if (result.isConfirmed) {
                                                        // Redirecciona a otra vista
                                                        window.location.href = '/inicioSesion';
                                                    }
                                                });
                                                break;
                                            case "YaExiste":
                                                Swal.fire({
                                                    icon: "error",
                                                    iconColor: "orange",
                                                    title: "Este correo o DNI ya tiene una cuenta asociada",
                                                    confirmButtonColor: "#dd986a"
                                                }).then((result) => {
                                                    if (result.isConfirmed) {
                                                        // Redirecciona a otra vista
                                                        window.location.href = '/crearCuenta';
                                                    }
                                                });
                                                break;
                                        }
                                    },

                                });
                            }else{
                                document.getElementById('dni').value = '';
                            }
                        });
                    } ,
                    error: function(){
                        Swal.fire({
                            icon: "error",
                            iconColor: "orange",
                            title: "El número de DNI que ha ingresado no existe",
                            confirmButtonColor: "#dd986a"
                        }).then((result) => {
                            if (result.isConfirmed) {
                                document.getElementById('dni').value = '';
                            }
                        });
                    }
                });
            }
        }
    })
</script>

<!-- jQuery -->
<script src="/assets_superAdmin/js/jquery-3.6.0.min.js"></script>

<!-- Feather Icon JS -->
<script src="/assets_superAdmin/js/feather.min.js"></script>

<!-- Bootstrap Core JS -->
<script src="/assets_superAdmin/js/bootstrap.bundle.min.js"></script>

<!-- Custom JS -->
<script src="/assets_superAdmin/js/script.js"></script>

</body>
</html>